<!-- validation error message -->
<% if(typeof errors != 'undefined'){ %>
   <% errors.forEach((val)=>{ %>
        <div class="alert alert-warning" role="alert">
           <%=val.msg%>
          </div>
   <% }) %>
<% } %>

<!-- successfully register message when page redirect (using flash) -->
<% if(success_msg != '' ){ %>
   <div class="alert alert-success" role="alert">
      <%=success_msg%>
     </div>
<% } %>


<!-- login error message  -->
<% if(login_err != '' ){ %>
   <div class="alert alert-warning" role="alert">
      <%=login_err%>
     </div>
<% } %>

